body {
    height: 100vh;
    background-image: url("/static/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.answer-content {
    display: flex;
    justify-content: center;
}

.answer-inner {
    margin-top: 100px;
    padding: 24px;
    background-color: #ffffff;
    text-align: center;
}

.question-title {
    text-align: left;
    margin: 24px auto;
    padding-left: 16px;
}

.detail-placeholder {
    color: #808080;
    text-align: left;
    padding-left: 16px;
    margin-bottom: 10px;
}

.detail-input {
    text-align: left;
    width: 709px;
    height: 200px;
    border: 1px solid #ebebeb;
}

.publish-button {
    width: 320px;
    height: 34px;
    margin: 24px 16px;
}