.content {
    display: flex;
    min-width: 1000px;
    width: 1000px;
    padding: 0 16px;
    margin: 10px auto;
    align-items: flex-start;
}

.main {
    box-sizing: border-box;
    background-color: #ffffff;
    margin-right: 10px;
    width: 694px;
    border: 1px solid #f0f2f7;
    border-radius: 2px;
}

.top-tabs-wrapper {
    height: 58px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f2f7;
}

.top-tabs a {
    text-decoration: none;
}

.top-tabs li {
    display: inline-block;
    margin: 0 22px;
    font-size: 16px;
}

.sidebar {
    box-sizing: border-box;
    background-color: #ffffff;
    width: 296px;
    padding: 10px;
    border: 1px solid #f0f2f7;
    border-radius: 2px;
}