.question-flow {
    box-sizing: border-box;
    width: 694px;
    padding: 10px;
    border-bottom: 1px solid #f0f2f7;
}

.question-flow a {
    text-decoration: none;
    color: #1a1a1a;
}

.question-flow-title {
    margin-top: 10px;
}

.question-flow-detail {
    display: block;
    margin: 10px 0;
    max-height: 40px;
    overflow : hidden;
}