.header {
    height: 52px;
    min-width: 1032px;
    box-shadow: 0 1px 3px rgba(26, 26, 26, .1);
    background-color: #ffffff;
}

.header-inner {
    display: flex;
    height: 52px;
    width: 1000px;
    padding: 0 16px;
    margin: 0 auto;
    align-items: center;
}

.header-logo {
    text-decoration: none;
    color: orangered;
    font-size: 30px;
}

.header-tabs {
    display: flex;
    margin: 0 23px;
}

.tabs-item {
    display: inline-block;
    padding: 0 17px;
}

.tabs-link {
    text-decoration: none;
    color: #8590a6;
}

.tabs-link:hover {
    color: #1a1a1a;
}

.tabs-link:active {
    color: #1a1a1a;
    font-weight: 600;
}

.search-bar {
    display: flex;
    height: 34px;
    width: 400px;
}

.search-box {
    height: 34px;
    width: 310px;
}

.input-wrapper {
    display: flex;
    height: 32px;
    width: 294px;
    background-color: #f6f6f6;
    padding-left: 16px;
    padding-right: 0;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    align-items: center;
    font-size: 14px;
}

.input-box {
    background-color: #f6f6f6;
    height: 24px;
    line-height: 24px;
    flex: 1 1;
    overflow: hidden;
    border: none;
}

.button:hover {
    background-color: purple;
}

.button:active {
    filter: brightness(0.75);
}

.ask-button {
    color: #ffffff;
    background-color: orangered;
    border-color: orangered;
    margin-left: 16px;
}

.header-user {
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
}

.profile-area {
    position: relative;
}

.profile-area:hover .profile-menu {
    display: block;
}

.profile-menu {
    display: none;
    position: absolute;
    top: 43px;
    left: -25px;
    background-color: #ffffff;
    width: 80px;
    padding: 8px 0;
    border-radius: 12px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .15);
}

.menu-item {
    display: block;
    padding: 3px 0 3px 16px;
    color: #333333;
    text-decoration: none;
    font-size: 13px;
    line-height: 23px;
}

.login-button {
    color: orangered;
    border-color: orangered;
    margin-right: 16px;
}

.register-button {
    color: #ffffff;
    background-color: orangered;
    border-color: orangered;
}