* {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
    font-size: 15px;
    color: #1a1a1a;
    background-color: #f6f6f6;
    font-family: Caslon;
}

.button {
    display: inline-block;
    padding: 0 14px;
    border: 1px solid;
    border-radius: 3px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    outline: none;
}