<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="stylesheet" type="text/css" href="static/css/header.css">
    <link rel="stylesheet" type="text/css" href="static/css/question.css">
    <link rel="stylesheet" type="text/css" href="static/css/question-flow.css">
    <link rel="stylesheet" type="text/css" href="static/css/ask.css">
    <script type="text/javascript" src="static/js/script.js"></script>
    <script type="text/javascript" src="static/js/wangEditor.min.js"></script>
    <title>Conch</title>
    </style>
</head>

<body>
    {{template "header" .}}
    <div class="ask-content">
        <div class="ask-inner">
            <h2>提问</h2>
            <input type="text" class="title-input" placeholder="写下你的问题，准确地描述问题更容易得到解答">
            <p class="detail-placeholder">输入问题背景、条件等详细信息（选填）</p>
            <div id="toolbar"></div>
            <div id="text" class="detail-input"></div>
            <button class="publish-button button orangered-button" onclick="publish()">发布问题</button>
        </div>

    </div>
    <script type="text/javascript">
        var e = window.wangEditor
        var editor = new e('#toolbar', '#text')
        editor.create()

        function publish() {
            alert(editor.txt.text())
        }
    </script>
</body>

</html>