<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/question-flow.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="/static/js/wangEditor.min.js"></script>
    <title>Conch</title>
    </style>
</head>

<body>
    {{template "header" .User}}
    <div class="app-main">
        <div class="main-left">
            <div class="top-tabs-wrapper">
                <ul class="top-tabs">
                    <li><a href="">推荐</a></li>
                    <li><a href="">关注(施工中)</a></li>
                    <li><a href="">热榜(施工中)</a></li>
                </ul>
            </div>
            {{range .QList}}
                {{template "question-flow" .}}
            {{end}}
        </div>
        <div class="sidebar" style="text-align: center;">
            <h2>侧边栏施工中</h2></br>
            <h3><a style="text-decoration: none;" href="https://github.com/moonstviolet">Github</a></h3>
        </div>
    </div>
</body>

</html>