{{define "question-header"}}
    <div class="question-header">
        <div class="question-content">
            <div class="question-main">
                <h1 class="question-header-title">{{.Title}}</h1>
                <div class="question-header-detail">
                    <sapn>{{.Detail}}</sapn>
                </div>
            </div>
            <div class="question-header-side">
                <div class="question-follow-status">
                    <div class="question-follow-item">
                        <div class="question-follow-itemname">关注者</div>
                        <div class="question-follow-itemvalue">{{.Follow}}</div>
                    </div>
                    <div class="question-follow-item question-pageviews">
                        <div class="question-follow-itemname">浏览量</div>
                        <div class="question-follow-itemvalue">{{.Pageview}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="question-footer">
            <div class="question-footer-inner">
                <button id="followQuestion" value="follow" class="button orangered-button follow-button" onclick="followQuestion()">关注问题</button>
                <a href="/answer/new?qid={{.Qid}}" style="text-decoration: none;" class="button answer-button">撰写回答</a>
            </div>
        </div>
    </div>
{{end}}