<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <link rel="stylesheet" type="text/css" href="/static/css/user-profile.css">
    <link rel="stylesheet" type="text/css" href="/static/css/answer-flow.css">
    <script type="text/javascript" src="/static/js/script.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>
    <title>{{.LoginUser.Nickname}} - Conch</title>
    </style>
</head>

<body>
    {{template "header" .LoginUser}}
    <div class="profile-header">
        <div class="profile-main">
            <div class="profile-avatar">
                <img height="100" width="100" src="{{.LoginUser.Avatar}}">
            </div>
            <div class="profile-content">
                <ul>
                    <li class="nickname">{{.LoginUser.Nickname}}</li>
                    <li>Uid: {{.LoginUser.Uid}}</li>
                    <li>{{.LoginUser.Motto}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="app-main">
        <div class="main-left">
            {{range .AnswerList}}
                {{template "answer-flow" .}}
            {{end}}
        </div>
    </div>
</body>

</html>